*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(64, 64, 145, 0.5)),url(../image/back.jpg);
    background-position:center;
    background-size: cover;
    overflow-x: hidden;
}
header{
    z-index: 1;
    transition:1s;
   padding-left:30px;
   padding-right: 30px;
    position: absolute !important;

}
.logo img{
    width: 50px;
    margin-right: 10px;
}
.logo span{
    font-size: 30px;
    color:rgb(247, 245, 245);
   font: bold;
   
    
}

.nav-bar:hover{
    background-color:#23058fde;/*#3789e7de*/
    border-color: #0707079a !important;
    color:black;
}

.navbar-light .navbar-toggler {
    color: #e2c6c6c0 !important;
    
    
}
.nav-item{
    padding: 5px 25px;
}

.content{
  /*  margin-top: 38%; */
    padding-right: 500px ;
    margin-top: 23vh;
    margin-left: 9%;
    margin-right: 5%;
    color: rgba(252, 252, 252, 0.74); 
    z-index: 0;
    position:fixed;
}
.content h1{
    font-size: 670%;/*120
    line-height: 140px; */
    font-weight: 600;
    

}
.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
    
}
.links{
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.btns{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}
.btns:hover{
    color: #fff ;
    background-color: #3789e7de;
    border: 2px solid #fff;
    padding: 10px 33px;
    font-weight: bold;
}
.slide-left .contact{
    color: #fff;
}
.slide-left .contact:hover{
    color: rgba(33, 33, 248, 0.918);
}
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}
@media(max-width:830px) {
    .content h1 {
        font-size: 580%;
        font-weight: 600;
    }
    .nav-bar:hover{
        background-color: transparent;
    }
    .nav-item li{
       margin-right: 200px !important;
    }
}
